<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"><i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding"> Athlete Profile
        </div>
        <div class="right"><a class="button"><b>edit</b></a></div>
    </div>
</div>


<div class="pages">
    <div class="page" data-page="athlete-profiles">
        <div class="page-content">
            {{#each athleteprofile}}
            <div class="content-block" style="padding:10px; background-color:#ffffff">
                <div class="row">
                    <div class="col-25 content-center" style="padding:4px;">
                        <img src={{profile_pic}} height="150" width="150"> </img>
                    </div>
                    <div class="col-50">
                        <div class="content-block">
                            <p><b>Name: </b> {{firstname}} {{lastname}} </p>
                            <p><b>Age: </b> {{age}} </p>
                            <p><b>Skill Level: </b> {{skilllevel}}  </p>
                            <p><b>Description: </b> {{description}} </p>
                        </div>
                    </div>
                </div>
                    <div class="col-100"><div class="content-block-title">Recent Coaches</div>
                    <div class="list-block"> 
                        <ul>
                            {{#each recentcoach}}
                                <a onClick="excelsior.loadCoachProfileView({{id}});"> 
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class= "item-title">{{firstname}} {{lastname}}</div>
                                            <div class="item-after">{{sessiondate}}</div>
                                        </div>
                                    </div>
                                </li>
                                </a>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="buffer"> </div>
        </div>
    </div>
</div>