<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"></div>
        <div class="center sliding"> More
        </div>
        <div class="right"></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="more-list">
        {{#if user_id}}
        <div class="page-content">
        	<div class="list-block">
        		<div class="list-block-title"> Favorited Coaches </div>
        		<ul>
					{{#each favCoach}}
					<a onClick="excelsior.loadCoachProfileView({{id}});">
        			<li class="item-content">
        				<div class="item-inner">
        					<div class="item-title">
        						{{firstname}} {{lastname}}
        					</div>
        				</div>
        			</li>
        			</a>
        			{{/each}}
        		</ul>
        	</div>
        	<div class="list-block">
        		<div class="list-block-title">Recently Viewed</div>
        		<ul>
					{{#each recViewedCoach}}
					<a onClick="excelsior.loadCoachProfileView({{id}});">
        			<li class="item-content">
        				<div class="item-inner">
        					<div class="item-title">
        						{{firstname}} {{lastname}}
        					</div>
        				</div>
        			</li>
        			</a>
        			{{/each}}
        		</ul>
        	</div>
        	<div class="list-block">
        		<div class="list-block-title">My Info</div>
        		<ul>
					<a onClick="excelsior.loadAthleteProfiles({{user_id}});">
        			<li class="item-content">
        				<div class="item-inner">
        					<div class="item-title">
        						Athlete Profiles
        					</div>
        				</div>
        			</li>
        			</a>
        			<a onClick="excelsior.loadAccountSettings({{user_id}});">
        			<li class="item-content">
        				<div class="item-inner">
        					<div class="item-title">
        						Account Settings
        					</div>
        				</div>
        			</li>
        			</a>
        		</ul>
        	</div>
        	<div class="row">
        		<div class="col-100">
        			<a class="button" onclick="excelsior.loadContactExcelsior({{user_id}});"> Contact Excelsior </a>
        		</div>
        	</div>
        </div>
        {{else}}   
        <div class="page-content login-screen-content">
          <div class="login-screen-title">Excelsior Coaching</div>
          <form>
            <div class="list-block">
              <ul>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Username</div>
                    <div class="item-input">
                      <input type="text" name="username" placeholder="username">
                    </div>
                  </div>
                </li>
                <li class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">Password</div>
                    <div class="item-input">
                      <input type="password" name="password" placeholder="password">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list-block">
              <ul>
                <li><a href="#" class="item-link list-button">Sign In</a></li>
              </ul>
              <div class="list-block-label">
                <p><a href="#" onclick="excelsior.loadSignUp();">Sign Up</a></p>
              </div>
            </div>
          </form>
        </div>
        {{/if}}

    </div>
</div>